.smileyContainer{
    border: 1px solid black;
    background: yellow;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
}

.leftEye{
    border: 1px solid black;
    background: black;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 66px;
}

.rightEye{
    border: 1px solid black;
    background: black;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 20px;
}

.smile{
    position: absolute;
    border: 1px solid black;
    background: black;
    width: 40px;
    height: 20px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    top: 60px;
    left: 25px;

}